.bkg {
  margin: 0px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  background-color: white;
}

.nav, .list {
  background-color: orangered;
  border-radius: 7px;
  border: 0px solid #fff;
}

.nav {
  overflow: hidden;
  height: 70px;
  width: 320px;
}

.name {
  float: left;
  width: 85%;
}

.name span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
  line-height: 70px;
  color: #fff;
}

.triangle {
  float: right;
  display: inline-block;
  margin-top: 31px;
  margin-right: 28px;
  width:0px;
  height:0px;
  border-top: 14px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.blank, .list {
  display: none;
}

.bkg:hover .blank {
  display: block;
} 

.bkg:hover .list {
  display: block;
} 

.blank {
  margin-left: 271px;
  width:0px;
  height:0px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid orangered;
  border-left: 10px solid transparent;
}

.list {
  width: 320px;
}

.list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  height: 70px;
  line-height: 70px;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}

.option {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option li {
  overflow: hidden;
  height: 70px;
}

.line {
  border-bottom: 1px solid rgb(201, 198, 198);
}

.option li > div {
  display: inline-block;
  width: 80px;
  height: 70px;
  margin-left: 15px;
}

.heart {
  float: left;
  background: url(../static/bkg.png) no-repeat 14px -32px;
  background-size: 190%;
}

.star {
  float: left;
  background: url(../static/bkg.png) no-repeat -50px 20px;
  background-size: 190%;
}

.chat {
  float: left;
  background: url(../static/bkg.png) no-repeat 15px 20px;
  background-size: 190%;
}

